@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$clr: #222327;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $clr;
}

.navigation {
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        width: 350px;

        li {
            list-style: none;
            position: relative;
            /* 350 / 5 = 70 */
            width: 70px;
            height: 60px;
            z-index: 2;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;
                border-radius: 10px;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 65px;
                    font-size: 1.5em;
                    transition: 0.5s;
                    color: $clr;
                }

                .text {
                    position: absolute;
                    background: #2196f3;
                    color: #fff;
                    padding: 2px 7px;
                    border-radius: 12px;
                    font-weight: 400;
                    font-size: 0.75em;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(15px);
                }
            }

            &.active {
                a {
                    .icon {
                        transform: translateY(-32px);
                        color: #2196f3;
                    }

                    .text {
                        transform: translateY(-4px);
                        opacity: 1;  
                    }
                }
            }

            $i: 0;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}).active ~ .indicator {
                    transform: translateX(calc(70px * #{$i - 1}));
                }
            }
        }
    }
}

.indicator {
    position: absolute;
    top: -35px;
    width: 70px;    
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: -28px;
        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 50%;
        box-shadow: 15px 18px #fff;
    }

    &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: -28px;
        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 50%;
        box-shadow: -15px 18px #fff;
    }
}